# ee/ is the enterprise-license boundary and takes no external contributions
# (see ee/LICENSE); license-related files need a maintainer review.
/ee/ @merrick-2002
/LICENSE @merrick-2002
/NOTICE @merrick-2002
/.github/CODEOWNERS @merrick-2002
